@model appCine.Models.usuario
@Styles.Render("~/Content/login.css")
<div class="form-signin">
    <div class="row align-items-center">
        <div class="col-6">
            <div class="card">
                <div class="form-back">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group-lg">
                            @Html.TextBoxFor(m => m.usuario1, "", new { @class = "form-control", @placeholder = "Usuario" })
                        </div>
                        <br />
                        <div class="form-group-lg">
                            @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                        </div>
                        
                        <div class="form-group btn-login">
                            <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                        </div>
                        <hr />
                        <div class="btnAddUser">
                            <p>
                                @Html.ActionLink("Crear Cuenta Nueva", "Create", new { }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
                            </p>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>